<!DOCTYPE HTML>
<html lang="en">
	<head profile = "http://dublincore.org/documents/dcq-htlm/">
		<meta http-equiv="Content-type" content="text/html; charset= utf-8">
		<title>{{ page.title }}</title>
		<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
		<link rel="schema.DC" type="application/rdf+xml" href="http://purl.org/dc/elements/1.1/">
		<link rel="schema.DCTERMS" type="application/rdf+xml" href="http://purl.org/dc/terms/">
		    <link rel="profile" href="http://microformats.org/profile/hcalendar">

		    <meta name= "author" content= "Bewketu Tadilo Shibabaw">
		    <meta name= "description" content= "Resume of Bewketu Tadilo">
		    <meta name = "keywords" content= "bewketu, shibabaw, PHP, SQL, Linux, Resume">
		    <meta name = "DC.creator" content="Bewketu Shibabaw">
		    <meta name = "DC.subject" content = "Resume">
		    <meta name = "DC.description" content= "Bewketu's Resume">
		    <meta name = "DC.format" scheme= "DCTERMS.IMT" content= "text/html">
		    <meta name = "DC.type"  scheme="DCTERMS.DCMIType" content="Text">
		    <meta name = "DC.language" scheme= "DCTERMS.RFC3066" content="en">
		    <meta name = "DC.identifier" scheme="DCTERMS.URI" content="http://bewketut.github.com/">
		    <meta name = "DCTERMS.modified" scheme="DCTERMS.W3CDTF"  content="2011-01-27">
		    <meta name = "DCTERMS.audience" content="employers, partners, entrepreneurs, clients">
		    <meta name = "viewport" content= "width=320">
	    </head>
		    
	    <body>
		    <div> <button id ="summarize" style="display:none;">Summarize!</button></div>
		    <div id ="content" class= "hresume">
			    <img id ="left-ribbon" src="/images/skim-friendly-resume.png" alt="skim-friendly resume">
			    <div id="download-links">
				    <a title="Resume in PDF" href="http://github.com/downloads/bewketu/bewketut.github.com/resume.pdf"><img src="/images/pdf.png" alt="Download in PDF format"></a>
				    <a title="Doc Format" href="http://github.com/downloads/bewketu/bewketut.github.com/resume.pdf"><img src="/images/doc.png" alt="Word format"></a>
			    </div>
			    {{ content }}
		    </div>
		    <script src="/javascripts/default.js" type="text/javascript"></script>
	    </body> 

</html>
